/* App.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #219c90;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100vw - 400px);
  margin: 70px auto;
  padding: 30px 50px;
  background: #ffffffdb;
  border-radius: 15px;
  height: calc(100vh - 142px);
  background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
  background-size: 25px 25px;
}

@media screen and (min-width: 768px) {
  .app {
    width: calc(100vw - 350px);
  }
}
@media screen and (max-width: 768px) {
  .app {
    width: 100%;
  }
  .note-form-inputs div {
    width: 100%;
  }
  .input-title {
    width: 100%;
  }

  .input-textarea {
    width: 100%;
  }
  .note-list {
    max-height: calc(100vh - 550px) !important;
    min-height: calc(100vh - 550px) !important;
    width: 360px !important;
  }
}

header h1 {
  margin: 0 0 20px;
}

.note-list {
  margin-top: 20px;
  max-height: calc(100vh - 450px);
  min-height: calc(100vh - 450px);
  overflow: scroll;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 450px;
  height: auto;
  background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
  background: #f1f5f8;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 0px 10px;
  flex-direction: row;
}

.note {
  width: 100%;
  height: 100%;
}

.note-container:hover .close-note {
  display: block !important;
}

.note-container {
  width: 200px;
  position: relative;
}

.note-container.completed {
  background-color: lightgrey !important;
}

.note-container:hover.completed {
  transform: inherit;
}

.note-container:hover {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 1px 3px 1px rgba(60, 64, 67, 0.149);
  transform: scale(1.05, 1.05);
  transition: transform 0.3s ease;
}

.note-title {
  font-size: 16px;
  margin-bottom: 0px;
  text-transform: capitalize;
}

.task {
  display: flex;
  margin: 5px 0;
  align-items: center;
}

.task-checkbox {
  margin-right: 8px;
}

.task-title {
  text-transform: capitalize;
  color: #00000080;
}

.task.completed .note-title {
  text-decoration: line-through;
  color: #888;
  text-transform: capitalize;
}

.note-form {
  gap: 20px;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */

  width: 100%;
  height: auto;
  background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
  background: #f1f5f8;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 1rem;
  box-sizing: border-box;
  flex-direction: column;
}

.note-content {
  /* margin-left: 28px; */
  font-size: 14px;
}

.input-title {
  background: #fff;
  color: #000;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 14px 18px;
  height: 50px;
  border-radius: 8px;
}

.input-textarea {
  background: #fff;
  color: #000;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 4px 18px;
  height: 50px;
  overflow: scroll;
  margin-top: 4px;
  border-radius: 8px;
}

.input-color {
  inline-size: 30px;
  opacity: 0;
}

.submit-button {
  /* width: 50px;
  height: 50px; */
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  cursor: pointer;
  background-color: #8b5ec6;
  vertical-align: middle;
  padding: 6px;
}

.note-form-inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.note-form-bottom {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
}

.input-title-text {
  font-size: 14px;
  margin-bottom: 8px;
  color: #000;
}

.no-note {
  text-align: center;
  color: #00000080;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
}

.no-note span {
  font-size: 12px;
}

.sub-heading {
  font-size: 22px;
  margin: 20px 0 4px;
  font-weight: 700;
}

.input-color-edit {
  inline-size: 30px;
  position: absolute;
  bottom: 8px;
  right: 8px;
  opacity: 0;
}

.task-checkbox {
  position: relative;
  cursor: pointer;
  top: -2px;
}

.task-checkbox::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid #000;
  border-radius: 2px;
}

.task-checkbox::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 5px;
  width: 4px;
  height: 12px;
  background-color: transparent;
  border: solid #000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transition: background-color 0.3s ease;
  opacity: 0;
}

.task-checkbox:hover::before {
  background-color: #fff;
}

.task-checkbox:checked::before {
  background-color: #fff;
}

.task-checkbox:checked::after {
  opacity: 1;
}

.close-note {
  display: none;
  position: absolute;
  top: -6px;
  right: -4px;
  color: #fff;
  font-size: 10px;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 10px;
  width: 13px;
  height: 13px;
  text-align: center;
  background-color: #000;
}

.close-note:hover {
  display: block;
}

.replacement-image > input {
  display: none;
}

.replacement-image {
  height: 28px;
  width: 28px;
  position: absolute;
  left: 0;
}

.input-container {
  position: relative;
  display: inline-block;
}

.input-container-edit {
  /* position: relative; */
}

.replacement-image-edit {
  height: 28px;
  width: 28px;
  position: absolute;
  bottom: 8px;
  right: 8px;
}
